RewriteEngine On

# 1. Redireciona a raiz para a pasta /public/ automaticamente
RewriteRule ^$ public/index.php [L]

# 2. Se o usuário digitar algo na URL, verifica se existe na pasta /public/
RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -d
RewriteRule ^(.*)$ public/$1 [L]

# 3. Se não existir o arquivo físico, manda para o index.php processar a rota
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]